.boxoffice {
    display: flex;

}

/* .title {
    width: 500px;
    padding: 5px;
    text-align: center;

} */

p{
    padding: 5px;
    border: 1px solid black;
    float: left;
}
.content{
    clear: both;
}