/****************************
*  title: header style
*  author : haon@test.com
*  final date : 2024.10.24
*****************************/
header {
    width: 100%;
    height: 160px;
    margin: 0 auto;
    border-bottom: 2px solid tomato;
    /* border: 1px solid var(--color-border); */
}
.header-top, .header-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top, .header-bottom-content {
    width: 1000px;
    margin: 0 auto;
}
.header-top ul, .header-bottom ul {
    /* border: 1px solid green; */
    display: flex;
    list-style-type: none;     
}
.header-top {
    padding: 20px 0;
    /* border: 1px solid red; */
}
.header-top ul li {
    /* padding: 25px 10px; */
    /* background-color:darkcyan ; */  
    margin-left: 40px;   
}
.header-top ul li a {
    /* padding: 30px 10px; */
    text-decoration: none;
    color:var(--color-primary);
    /* background-color: aquamarine; */
}
.header-top-logo {
    width: 320px;   /*밑에 자식요소가 있으면 부모한테width 설정 해줘야댕(블럭요소한정)*/
    /* border: 1px solid blue; */
    position: relative;
}
.header-top-logo > a > img {
    width: 120px;
}
.header-top-logo > span {
    top: 30px;
    left: 120px;
    position: absolute;
    letter-spacing: 4px;
    font-weight: 500;
}
.header-bottom {
    height: 40px;
    width: 100%;
    padding: 5px 0;  
    border-top: 1px solid gray;        
}
.header-bottom-content {
    /* border: 1px solid blue; */
    padding-top: 5px;
}
.header-bottom dl {
    display: none;
}
.header-bottom li {
    padding: 10px 25px;
    padding-left: 1px;
}
.header-bottom li a {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-primary);
}
.header-bottom-search {
    border-right:1px solid gray;
    border-left:1px solid gray;
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.header-bottom-search input {
    width: 80%;
    border: none;
    padding: 5px;
}

.header-menu-icon1 {
    /* border: 1px solid blue; */
    display: block;
    width: 50px;
    min-height: 55px;
    /* overflow: hidden; */
    position: relative;
    text-align: center;
}
.header-menu-icon1 img {
    width: 36px;
    height: 36px;
    /* border: 1px solid green */  
}
.header-menu-icon1 span {
    width: 50px;
    font-size: 11px;
    height: 19px;    
     /* border: 1px solid red; */
     position: absolute;
     bottom:0;
     left: -1px;
     font-weight: 600; 
}
.header-menu-icon2 {
    /* border: 1px solid blue; */
    display: block;
    width: 50px;
    min-height: 55px;
    /* overflow: hidden; */
    position: relative;
    text-align: center;
}
.header-menu-icon2 img {
    width: 36px;
    height: 36px;
    /* border: 1px solid green */
}
.header-menu-icon2 span {
    width: 50px;
    font-size: 11px;
    height: 19px;
    position: absolute;
     /* border: 1px solid red; */
     bottom:0;
     left: -1px;
     font-weight: 600;
}

.header-menu-icon3 {
    /* border: 1px solid blue; */
    display: block;
    width: 50px;
    min-height: 55px;
    /* overflow: hidden; */
    position: relative;
    text-align: center;
}
.header-menu-icon3 img {
    width: 36px;
    height: 36px;
    /* border: 1px solid green */
}
.header-menu-icon3 span {
    width: 50px;
    font-size: 11px;
    height: 19px;
    position: absolute;
     /* border: 1px solid red; */
     bottom:0;
     left: -1px;
     font-weight: 600;
}

.header-menu-icon4 {
    /* border: 1px solid blue; */
    display: block;
    width: 50px;
    min-height: 55px;
    /* overflow: hidden; */
    position: relative;
    text-align: center;
}
.header-menu-icon4 img {
    width: 36px;
    height: 36px;
    /* border: 1px solid green; */
}
.header-menu-icon4 span {
    width: 50px;
    font-size: 11px;
    height: 19px;
    position: absolute;
    bottom:0;
    left: -1px;
     font-weight: 600;
     /* border: 1px solid red; */
}

.header-top-card {
    /* border: 1px solid red; */
    position: relative;
    left: 100px;
    top: 5px;
}
/****************************
*  title: footer style
*  author : haon@test.com
*  final date : 2024.10.24
*****************************/

footer {
    width: 100%;
    height: 200px;
    background-color: var(--color-footer-bg);
}

.footer-content {
    width: 1000px;
    margin: 0 auto;
}

.footer-intro > ul  {
    width: 100%;
    height: 60px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-silver);
}
.footer-intro > ul a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-primary);
}

.footer-intro > ul a:hover {
    text-decoration: underline;
}

.footer-intro > ul li:nth-child(7) a {
    text-decoration: underline;
    color: var(--color-black);
    font-weight: 700;
}

.footer-intro ~ p {
    color: var(--color-primary);
    font-size: 10px;
    font-weight: 600;
    padding: 3px 0;
}

.p {
    margin-top: 20px;
}
.p2 {
    margin-bottom: 20px;
}

/****************************
*  title: content(index) style
*  author : haon@test.com
*  final date : 2024.10.25
*****************************/

.content-top {
    width: 100%;
    background-color: black;
    /* border: 1px solid red; */
    position: relative;
    top: -4px;
}
 
.content-top iframe, 
.content-moviechart > div,
.content-event-special {  /*iframe 은 인라인이라 블럭으로 바꿔야 속성적용댐*/
    display: block;
    width: 1000px;
    margin: 0 auto;
}

.content-moviechart {
    width: 100%;
    padding: 30px 0;
    background-color: var(--color-footer-bg);
}

.content-title-style {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}


.content-moviechart .content-title-style > div:first-child { 
    width: 250px;
    position: relative;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


article.content-title-style > div > span:first-child {
    color: var(--color-black);
}
article.content-title-style > div > span:last-child {
    right: 0;
    color: gray;
    position: absolute;
}
.content-moviechart .content-title-style > div > span:first-child + span {
    top: 7px;
    left: 45%;
    width: 2px;
    height: 20px;
    display: inline-block;
    position: absolute;
    background-color: var(--color-silver);
    /* border: 1px solid blue; */
}


/* 무비차트리스트 상영예정작 */

.content-moviechart-list ul {
    /* border: 1px solid red; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.content-moviechart-list ul li {
    /* border: 1px solid blue; */
    padding: 15px 15px 0 ;
}

.content-moviechart-list ul li:first-child {
    padding-left: 0px;
}

.content-moviechart-list ul li:last-child {
    padding-right: 0px;
}

.content-moviechart-list ul li img {
    border-radius: 10px;
    width: 170px;
}

.content-moviechart-list ul li h3 {
    text-align: center;
    padding: 8px 0;
    color: var(--color-primary);
}

.content-moviechart-list ul li h5 {
    text-align: center;
    padding-top: 3px;
    color: var(--color-primary);
}

/****************** 이벤트 섹션 
*******************************
***************/
.content-event-special section:first-child {
    /* border: 1px solid red; */
}

/* ***************************
*************************
내가한부분 이벤트 
*******************
********************/
.content-event-special section:first-child > div {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    padding-top: 50px;
    padding-bottom: 10px;
}
.content-event-special section:first-child > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.content-event-special section:first-child > ul img {
    width: 320px;
    border-radius: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.content-event-special section:first-child > ul > li > div + p {
   
    font-weight: 700;
    font-size: 17px;
}
.content-event-special section:first-child li > p:last-child {
    /* border: 1px solid blue; */
    font-size: 14px;
    color: var(--color-primary);
    padding-top: 5px;
}
/* 내가한부분 이벤트 끝 */
/* 내가한부분 특별관 */
.content-event-special section:nth-child(2) > div {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    padding-top: 50px;
    padding-bottom: 10px;
}

.content-event-special section:nth-child(2) > div:nth-child(2){
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.content-event-special section:nth-child(2) > div:nth-child(2) > div > img {
    border: 1px solid red;
    width: 500px;
}

.content-event-special section:nth-child(2) ul {
    border: 1px solid red;
    list-style-type: none;
    width: 450px;
}

.content-event-special section:nth-child(2) ul li {
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 21px;
}

.content-event-special section:nth-child(2) ul li span:first-child {
    /* border: 1px  solid red; */
    font-weight: 600;
    font-size: 18px;
}

.content-event-special section:nth-child(2) ul li:last-child {
    border-bottom: 1px solid gray;
}

/* 패키지 영화관람권 기프트카드 섹션 */
.content-event-special section:nth-child(3) {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 30px;
}

.content-event-special section:nth-child(3) > div {
    border: 1px solid gray;
    border-radius: 10px;
    width: 310px;
}

.content-event-special section:nth-child(3) ul {
    list-style-type: none;
}

.content-event-special section:nth-child(3) > div > div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.content-event-special section:nth-child(3) ul li {
    /* border: 1px solid blue; */
    display: flex;
    padding: 20px;
    align-items: center;
}

.content-event-special section:nth-child(3) ul li img {
    width: 70px;
    padding-right: 15px;
}

.content-event-special section:nth-child(3) ul li p {
    font-weight: 600;
    font-size: 14px;
}
/* 패키지 영화관람권 기프트카드 섹션 끝*/
/* 내가한부분 특별관 끝*/
