* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: rgb(77,77,77);
    --color-black: #050a13;
    --color-white: #fff;
    --color-border: tomato;
    --color-silver: silver;
    --color-footer-bg: rgb(248,248,248);
    --color-moviechart : rgb(251,251,251);
    --color-font-primaty: rgb(34,34,34);
    --color-gray222: rgb(222,222,222);
    --color-button: rgb(251,67,87);
    --color-login-font: rgb(137,137,135);

}

.button-main-color {
    background-color: var(--color-button);
    color: white;
    font-weight: bold;
    border: 1px solid white;
}


/* 컨텐츠가운데정렬 */
.center-layout {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid red;
    margin-bottom: 80px;
}

.center-title {
    border: 1px solid blue;
    padding: 40px 15px 10px 15px;
    margin-bottom: 30px;
}


/* 전체보기 틀  */
.total-view-button {
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    padding: 4px 15px;
}

/* 무비차트 이벤트 특별관 타이틀 */
.content-title-style {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    /* border: 1px solid black; */
}

.content-title-style-font {
    font-size: 25px;
    font-weight: 700;
}

.font-color-main {
    color: var(--color-font-primaty);
}


/* 패키지 영화관람권 기프트카드 제목부분 틀 */
.package {
    font-size: 20px;
    font-weight: 600;
}

/* 더보기 틀  */
.total-view-button-2 {
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 13px;
    background-color: white;
    color: var(--color-primary);
}