img{
    width: 200px;
    height: 300px;
}
ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
li{
    list-style-type: none;
}
.box{
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid red; */
}