.btn-ul {
    list-style-type: none;
    text-align: center;
 
}
.btn1, .btn2, .btn3 {
    width: 100px;
    padding: 3px 5px;
    font-weight: bold;
    border: none;
}
.btn1 {
    background-color: darkslateblue;
    color: white;
}
.btn2 {
    background-color: rgb(106, 125, 150);
    color: white; 
}
.btn3 {
    background-color:white;
}

.btn-ul li {
    margin-bottom: 5px;
}

.container {
    display: flex;
    margin-bottom: 20px;
}

.container img {
    width: 200px;
}

