* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* 컨ㅊ텐츠 제목들 32px font-size */


:root {
    --color-bg1: rgb(200,191,231);
    --color-bg2: rgb(255, 174, 0);
    --color-bg3: rgb(200,168,255);
    

}