.a {
    list-style-type: none;
}
.b{
    display: flex;
    text-align: center;
    justify-content: center;
}
.c{
    width: 1000px;
    margin: auto;
    border: 1px solid red;
}
.e{
    width: 150px;
    padding: 0 10px;
}
.aa{
    display: flex;
    align-items: center;
}
.span1{
    font-size: 40px;
}
